@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0rem;
  font-size: 2rem;
}

.montserrat-2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  line-height: 110%;
  font-size: 0.875rem;
  letter-spacing: 0rem;
}

.montserrat-3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 160%;
  font-size: 0.875rem;
  letter-spacing: 0rem;
}

.montserrat-4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

.montserrat-5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  font-size: 0.8125rem;
  letter-spacing: 0rem;
}

:root {
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --White: #ffffff;
  --green500: #3d8168;
  --Green700: #1a4032;
}

body {
  background-color: var(--cream);
}

.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--White);
  max-width: 37.5rem;
  max-height: 28.5rem;
}

.perfume-img {
  max-width: 18.75rem;
  max-height: 28.5rem;
  height: 100%;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-content h1 {
  color: var(--grey);
}

.text-content h2 {
  color: var(--black);
}

.text-content p {
  color: var(--grey);
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-price {
  color: var(--green500);
}

.old-price {
  color: var(--grey);
  text-decoration: line-through;
}

.buy-button {
  padding: 1rem 3.9063rem;
  border-radius: 0.5rem;
  background-color: var(--green500);
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  border: none;

  &:hover {
    background-color: var(--Green700);
    transition: background-color 0.5s;
    cursor: pointer;
  }
}

@media (max-width: 37rem) {
  .content {
    flex-direction: column;
    max-width: 21.875rem;
    max-height: 46.875rem;
  }
  .perfume-img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    max-width: 21.875rem;
    max-height: 21.375rem;
    width: 100%;
    object-position: center;
  }
  .card-content {
    gap: 1.5rem;
  }
  .buy-button {
    align-items: cen;
  }
}
